/* ========== Starting Gelobal Style ========== */
*{
    font-family: "Open Sans", sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.container {
    margin: 0 auto;
    padding: 0 15px;
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
:root{
    --main-color: #19c8fa;
    --transperant-color : rgb(15 116 143 / 70%);
}
.component-header{
    margin-top: 100px;
    text-align: center;
    h1{
        font-weight: normal;
        font-size: 44px;
        position: relative;
        margin-bottom: 70px;
        &::before{
            content: '';
            position: absolute;
            width: 120px;
            height: 2px;
            background-color: #000;
            bottom: -30px;
            left: 50%;
            transform: translateX(-50%);
        }
        &:after{
            content: '';
            position: absolute;
            width: 15px;
            height: 15px;
            border-radius: 25px;
            border: 2px solid #000;
            bottom: -39px;
            left: 50%;
            background-color: #fff;
            transform: translateX(-50%);
        }
    }
    p{
        max-width: 600px;
        margin: 0 auto;
        line-height: 2;
        color: #555;
        padding: 10px 30px;
    }
}
@media (max-width : 768px) {
    .component-header{
        h1{
            font-size: 22px;
        }
    }
}
/* ============= Ending Gelobal Style ============= */

header{
    position: fixed;
    width: 100%;
    z-index: 10;
    transition: 0.5s;
    top: 0;
    background-color: #0000006f;
    backdrop-filter: blur(10px);
}
header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    min-height: 97px;
}
header .container::before{
    content: '';
    position: absolute;
    width: calc(100% - 40px);
    height: 1px;
    background-color: #848484;
    bottom: 0;
    z-index: -1;
}
header .container .image_logo img{
    height: 40px;
}
header .container nav{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
header .container nav .btn{
    color: #fff;
    font-size: 22px;
    display: none;
}
header .container nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(1,1);
}
header .container nav ul li a{
    display: block;
    font-size: 14px;
    color: #fff;
    transition: 0.3s;
    padding: 40px 10px;
}
header .container nav ul li a.active,
header .container nav ul li a:hover{
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
}
header .container nav .icon{
    border-left: 2px solid #fff;
    padding: 10px 10px;
    margin-left: 50px;
    i{
        color: #fff;
    }
}
@media (max-width:768px) {
    header{
        background-color: #000 !important;
    }
    header .container nav .btn {
        display: block;
        cursor: pointer;
    }

    header .container nav ul{
        display: block;
        position: absolute;
        top: 100%;
        padding: 0;
        left: 10px;
        width: calc(100% - 20px);
        height: auto;
        transition: 0.3s;
        transform-origin: top;
        background-color: #000000;
        transform: scale(1,0);
        li{
            text-align: center;
        }
        a{
            padding: 20px 10px;
        }
    }
}
@media (min-width:768px) {
    header .container nav ul{
        transform: scale(1, 1) !important;
    }
}
/* ============================== starting Article ============================== */
/* ========================= Starting landing ===================== */
.landing{
    width: 100%;
    min-height: 100vh;
    position: relative;
    background-image: url('img/landing.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    /* animation: animation 20s step-end infinite; */
}
@keyframes animation {
    0%{
        background-image: url('img/landing.jpg');
    }
    50%{
        background-image: url('img/6.jpg');
    }
    75%{
        background-image: url('img/landing_2.jpg'); 
    }
}
.landing .right{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    color: #ffffff77;
    font-size: 70px;
    cursor: pointer;
}
.landing .left{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%)rotateZ(180deg);
    color: #ffffff77;
    font-size: 70px;
    cursor: pointer;
}
.landing::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
    pointer-events: none;
    background-color: hsla(0, 0%, 0%, 0.50);
}
.landing .text-content{
    width: 50%;
    position: absolute;
    top: 50%;
    background-color: var(--transperant-color);
    transform: translateY(-50%);
    left: 0;
    color: #fff;
    padding: 50px 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    pointer-events: none;
    z-index: 6;
}
.landing .text-content .content{
    max-width: 500px;
}
.landing .text-content .content h2{
    font-size: 32px;
    font-weight: normal;
    line-height: 1.5;
    text-transform:capitalize;
}
.landing .text-content .content p{
    font-size: 14px;
    margin-top: 20px;
    line-height: 2;
}
@media (max-width:992px) {
    .landing .text-content{
        width: 70%;
    }
}
@media (max-width:768px) {
    .landing .text-content{
        justify-content: center;
        width: 100%;
    }
}
.btn-moving{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    display: flex;
    justify-content: flex-start;
    padding: 0;
}
.btn-moving li{
    width: 20px;
    height: 20px;
    border: 1px solid white;
    border-radius: 50%;
    margin-right: 10px;
}
.btn-moving li.active{
    background-color: var(--main-color);
}
/* ========================== Ending landing ====================== */

/* ========================== Starting Services==================== */
.service{
    width: 100%;
    min-height: 100vh;
    background-color: #fff;
    padding: 50px 0;
}
.service .container .services-container{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(450px , 1fr));
    gap: 30px;
    margin-top: 50px;
}
.service .container .services-container .serv-box{
    display: flex;
    padding: 10px 10px;
    gap: 50px;
}
.service .container .services-container .serv-box i{
    font-size: 44px;
    margin-top: 5px;
}
.service .container .services-container .serv-box .text{
    padding: 0;
}
.service .container .services-container .serv-box .text h3{
    margin-bottom: 25px;
    color: var(--main-color);
}
.service .container .services-container .serv-box .text p{
    line-height: 2;
}
@media (max-width : 768px){
    .service .container .services-container{
        grid-template-columns: 1fr;
    }
    .service .container .services-container .serv-box{
        flex-direction: column;
        text-align: center;
        padding: 10px 10px;
        margin-bottom: 50px;
    }
    .service .container .services-container .serv-box i{
        text-align: center;
    }
}
/* ========================== Ending Services====================== */

/* ========================== Starting Design====================== */
.design{
    width: 100%;
    min-height: 600px;
    background-image: url('img/design-features.jpg');
    background-size: cover;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.design .image{
    flex: 1;
    text-align: center;
}
.design .image img{
    position: relative;
    bottom: -150px;
}
.design .text{
    background-color: var(--transperant-color);
    width: 600px;
    color: #fff;
    padding: 30px 30px;
}
.design .text h2{
    margin-bottom: 30px;
}
.design .text ul{
    line-height: 3;
    padding: 0;
}
.design .text ul li i{
    margin-right: 25px;
}
@media (max-width:768px) {
    .design .image{
        display: none;
    }
    .design .text{
        width: 100%;
    }
}
/* ========================== Ending   Design ===================== */

/* ========================== Starting Portifolio ==================*/
.pertifolio{
    padding: 50px 0;
}
.pertifolio .container ul{
    display: flex;
    margin-top: 100px;
    justify-content: center;
    padding: 0;
}
.pertifolio .container ul li{
    width: auto;
    padding: 10px 10px;
}
.pertifolio .container ul li.active{
    background-color: var(--main-color);
    color: #fff;
}
.pertifolio .image-container{
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
}
.pertifolio .image-container .box{
    width: 25%;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
@media (max-width:1200px) {
    .pertifolio .image-container .box{
        width: 50%;
    }
}
@media (max-width:768px) {
    .pertifolio .image-container .box{
        width: 100%;
    }
}
.pertifolio .image-container .box img{
    width: 100%;
    z-index: -1;
    transition: 0.3s;
}
.pertifolio .image-container .box .caption{
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -200px;
    background-color: #fff;
    padding: 20px 20px;
    line-height: 1.7;
    transition: 0.2s;
}
.pertifolio .image-container .box .caption h4{
    font-weight: normal;
    color: var(--main-color);
}
.pertifolio .image-container .box:hover img{
    transform: rotateZ(3deg)scale(1.1,1.1);
}
.pertifolio .image-container .box:hover .caption{
    bottom: 0;
}

.pertifolio .more{
    text-align: center;
    margin-top: 50px;
}
.pertifolio .more a{
    padding: 10px 25px;
    background-color: var(--main-color);
    color: #fff;
    border-radius: 3px;
}
/* ========================== Ending   Portifolio ==================*/

/* ========================== Starting Super Video ================ */
.super{
    width: 100%;
    position: relative;
}
.super::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #00000039;
    z-index: 3;
}
.super video{
    width: 100%;
}

.super .slide{
    width: 100%;
    position: absolute;
    background-color: var(--transperant-color);
    padding: 10px 10px;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    z-index: 4;
}
.super .slide h1{
    font-weight: normal;
    margin-bottom: 25px;
}
.super .slide a{
    margin-bottom: 20px;
}
.super .slide a{
    display: inline-block;
    margin-top: 25px;
    padding: 10px 20px;
    color: #fff;
    background-color: #000;
}
@media (max-width:768px) {
    .super .slide h1{
        font-size: 22px;
        margin-bottom: 15px;
    }
    .super .slide a {
        margin-bottom: 15px;
    }
}
/* ========================== Ending  Super  Video ================ */

/* ========================== Starting About ====================== */
.about{
    width: 100%;
}
.about .container .image-about{
    text-align: center;
    position: relative;
    overflow: hidden;
}
.about .container .image-about img{
    position: relative;
    bottom: -120px;
}
@media (max-width:1200px) {
    .about .container .image-about img {
        max-width: 90%;
        bottom: -100px;
    }
}
@media (max-width:992px) {
    .about .container .image-about img {
        max-width: 100%;
        bottom: -60px;
    }
}
/* ========================== Ending   About ====================== */

/* ========================== Starting Section Category =========== */
.category{
    width: 100%;
    padding: 100px 0;
    background-image: url('img/stats.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
}
.category::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #00000039;
    top: 0;
    left: 0;
    z-index: 1;
}
.category .container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    z-index: 2;
    background-color: var(--transperant-color);
    color: #fff;
    padding: 0;
}
.category .container .cat-box{
    width: 25%;
    padding: 50px 50px;
    text-align: center;
    z-index: 3;
    line-height: 1;
}
.category .container .cat-box i{
    padding: 15px;
    color: #fff;
    background-color: #000;
    border-radius: 50%;
    margin: 0 auto 20px;
}
.category .container .cat-box .cat-box-text h1{
    font-size: 44px;
}
.category .container .cat-box .cat-box-text p{
    font-size: 15px;
}
@media (max-width:992px) {
    .category .container .cat-box{
        width: 50%;
    }
}
@media (max-width:768px) {
    .category .container .cat-box{
        width: 100%;
    }
}
/* ========================== Ending   Section Category =========== */

/* ========================== Starting States ====================== */
.states{
    position: relative;
    padding: 100px 0 0px 0;
}
.states .container{
    display: flex;
    gap: 50px;
}
.states .container .group-component{
    width: 45%;
    position: relative;
}
.states .container .group-component .group-header{
    text-align: center;
}
.states .container .group-component .group-header h3{
    font-weight: normal;
    margin-bottom: 30px;
}
.states .container .group-component .group-header p{
    line-height: 1.5;
    color: #555;
}

.states .container .group-component .group-details{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    margin: 50px 0;
}
.states .container .group-component .group-details img{
    width: 100px;
    border-radius: 50%;
}
.states .container .group-component .group-details p{
    flex-basis: 70%;
    line-height: 1.8;
    position: relative;
}
.states .container .group-component .group-details p::before{
    content: '';
    position: absolute;
    width: 97%;
    height: 1px;
    background-color: #a5a5a5;
    bottom: -15px;
    left: 0;
}
.states .container .group-component .group-details p::after{
    content: 'John Doe, CEO';
    position: absolute;
    right: 10px;
    bottom: -10px;
    color: #999;
    font-size: 14px;
}
.states .container .group-component .btn-moving{
    margin-bottom: 80px !important;
    li{
        border: 1px solid #999;
        transform: scale(0.7);
        margin: 0;
    }
}
.states .container .group-component .rangging{
    flex-direction: column;
}
.states .container .group-component .group-details .range{
    width: 100%;
    position: relative;
    margin-bottom: 40px;
}
.states .container .group-component .group-details .range h4{
    font-weight: normal;
    color: #222;
    margin-bottom: 15px;
}
.states .container .group-component .group-details .range .progress-range{
    width: 100%;
    height: 30px;
    background-color: #ccc;
    position: relative;
}
.states .container .group-component .group-details .range .progress-range span{
    background-color: var(--main-color);
    position: absolute;
    left: 0;
    height: 100%;
}
.states .container .group-component .group-details .range .progress-range span::before{
    content: attr(data-progress);
    width: 40px;
    height: 30px;
    position: absolute;
    right: -18px;
    background-color: #000;
    top: -40px;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    line-height: 30px;
}
.states .container .group-component .group-details .range .progress-range span::after{
    content: '';
    position: absolute;
    border-width: 8px;
    border-style: solid;
    border-color: #000 transparent transparent transparent;
    right: -6px;
    top: -10px;
}
@media (max-width:992px) {
    .states .container .group-component .group-details p::after {
        content: none;
    }
    .states .container {
        flex-direction: column;
    }

    .states .container .group-component {
        width: 100%;
    }

    .states .container .group-component .btn-moving {
        margin-bottom: -60px !important;
    }

    .states .container .group-component .group-details p {
        flex: 0.95;
    }
}
@media (max-width:768px) {
    .states .container .group-component .group-details{
        flex-direction: column;
        text-align: center;
    }
    .states .container .group-component .group-details img{
        margin: 20px auto;
    }
}
/* ========================== Ending   States ====================== */

/* ========================== Starting Post ======================== */
.post{
    width: 100%;
    background-image: url("img/quote.jpg");
    background-size: cover;
    padding: 100px 0;
    position: relative;
}
.post::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.753);
    top: 0;
}
.post .container {
    text-align: center;
    z-index: 2;
    color: #fff;
    position: relative;
}
.post .container h4{
    font-weight: normal;
    margin-bottom: 20px;
    font-size: 30px;
}
/* ========================== Ending   Post ======================== */

/* ========================== Starting Pricing ===================== */
.price .container{
    display: flex;
    position: relative;
    gap: 30px;
    margin-top: 50px;
}
.price .container .box-price{
    width: 25%;
    text-align: center;
    background-color: #fcfcfc;
    border-top: 1px solid var(--main-color);
}
.price .container .box-price .min-head{
    padding: 50px 50px;
    position: relative;
}
.price .container .box-price .min-head h3{
    font-weight: normal;
    margin-bottom: 25px;
}
.price .container .box-price .min-head span{
    font-size: 60px;
    font-weight: bold;
    position: relative;
}
.price .container .box-price .min-head span::before{
    content: '$';
    position: absolute;
    font-size: 25px;
    top: 0px;
    right: 80px;
    font-weight: normal;
}
.price .container .box-price .min-head span::after {
    content: '/mo';
    position: absolute;
    font-size: 15px;
    bottom: 10px;
}
.price .container .box-price .min-body{
    border: 1px solid var(--main-color);
    border-left: 0;
    border-right: 0;
    text-align: center;
    padding: 0;
}
.price .container .box-price .min-body li{
    padding: 20px;
    position: relative;
}
.price .container .box-price .min-body li:not(:last-child):before{
    content: '';
    width: 60%;
    height: 1px;
    background-color: var(--main-color);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.price .container .box-price .min-foot a{
    border: 1px solid var(--main-color);
    margin: 20px 0;
    display: inline-block;
    padding: 10px 20px;
    color: var(--main-color);
}
.price .footer-contact{
    width: 100%;
    margin-top: 50px;
    padding: 20px 0;
    text-align: center;
    margin-bottom: 50px;
}
.price .footer-contact h2{
    font-weight: normal;
    font-size: 20px;
}
.price .footer-contact a{
    display: inline-block;
    padding: 15px 20px;
    background-color: var(--main-color);
    color: #fff;
    margin-top: 20px;
}
@media (max-width:992px) {
    .price .container {
        flex-wrap: wrap;
        justify-content: center;
    }
    .price .container .box-price {
        width: 40%;
    }
}
@media (max-width:577px) {
    .price .container .box-price {
        width: 100%;
    }
}
/* ========================== Ending   Pricing ===================== */

/* ========================== Starting Supscriper ================== */
.supscripe{
    width: 100%;
    padding: 100px 0 80px 0;
    position: relative;
    background-image: url('img/subscribe.jpg');
    background-size: cover;
}
.supscripe::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: #00000050;
    width: 100%;
    height: 100%;
}
.supscripe .container{
    z-index: 3;
    position: relative;
    display: flex;
    gap: 50px;
    padding-bottom: 0;
}
.supscripe .container .form-input{
    background-color: transparent;
    border: 1px solid #fff;
    width: 400px;
    padding: 15px 0;
    position: relative;
}
.supscripe .container .form-input i{
    color: #fff;
    position: absolute;
    left: 20px;
    font-size: 20px;
}
.supscripe .container .form-input input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0 50px;
    color: #fff;
}
::placeholder {
    color: #fff;
    z-index: 3;
    position: relative;
}
.supscripe .container .form-input button{
    position: absolute;
    right: 0;
    height: 100%;
    padding: 15px 15px;
    top: 0;
    border: 0;
    background-color: var(--main-color);
    color: #fff;
}
.supscripe .container .text{
    z-index: 3;
    color: #fff;
    padding: 0;
    margin-top: -10px;
}
.supscripe .container .text p{
    line-height: 2;
}
@media (max-width:992px) {
    .supscripe .container {
        flex-direction: column;
    }
    .supscripe .container .form-input{
        width: 600px;
        max-width: 90%;
        margin: auto;
    }
    .supscripe .container .text {
        text-align: center;
        width: 100%;
    }
}
/* ========================== Ending   Supscriper ================== */

/* ========================== Starting Contact ===================== */
.contact{
    width: 100%;
    position: relative;
}
.contact .container{
    display: flex;
    direction: rtl;
    margin-top: 80px;
    margin-bottom: 50px;
    gap: 50px;
}
.contact .container .text-details{
    width: 25%;
    direction: ltr;
    padding: 0;
}
.contact .container .text-details .frist{
    margin-bottom: 70px;
}
.contact .container .text-details .frist h3{
    font-weight: normal;
    margin-bottom: 25px;
}
.contact .container .contact-form{
    width: 70%;
    font-weight: normal;
    margin-bottom: 30px;
}
.contact .container .text-details .frist .phone-number{
    padding: 0;
}
.contact .container .text-details .frist .phone-number li{
    padding: 10px 0;
    color: #999;
}
.contact .container .contact-form .form-input{
    width:100%;
    border: 1px Solid #999;
    margin-bottom: 25px;
    & ::placeholder{
        color: #999;
    }
    direction: ltr;
}

.contact .container .contact-form .form-input input{
    width: 100%;
    height: 100%;
    padding: 15px;
    border: none;
    outline: none;
}
.contact .container .contact-form .form-input input:focus{
    border: 1px solid var(--main-color);
}
.contact .container .contact-form .form-input button{
    padding: 20px;
    float: right;
    border: none;
    color: #fff;
    background-color: var(--main-color);
    cursor: pointer;
}
.contact .container .contact-form .form-input textarea{
    width: 100%;
    border: none;
    outline: none;
    height: 100%;
    padding: 15px;
}
@media (max-width:768px) {
    .contact .container{
        flex-direction: column;
    }
    .contact .container .text-details{
        width: 100%;
        text-align: center;
    }
    .contact .container .contact-form{
        width: 100%;
    }
}
/* ========================== Ending   Contact ===================== */

/* ========================== Starting Footer ====================== */
footer{
    width: 100%;
    position: relative;
    background-image: url('img/subscribe.jpg');
    background-size: cover;
    color: #fff;
    padding: 50px 0;
}
footer::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #00000092;
    top:0;
    left: 0;
}
footer .container{
    position: relative;
    z-index: 3;
    text-align: center;
}
footer .container p{
    text-transform: uppercase;
    padding: 20px;
    border-bottom: 1px solid white;
    font-size: 22px;
    width: fit-content;
    margin: 20px auto;
    position: relative;
    z-index: 3;
}
footer .container .social-media{
    width: 150px;
    margin: auto;
    display: flex;
    justify-content: space-around;
}
footer .container p.copy-right{
    margin-top: 50px;
    border: none;
    font-size: 15px;
    margin-bottom: 0;
    text-transform: capitalize;
    font-weight: 500;
}
/* ========================== Ending   Footer ====================== */
/* ============================== Ending Article ================================ */